html {
    font-size: clamp(12px, 12px + 0.4vw, 22px);
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

body, table, th, td, form, input, textarea, button, input, select, option {
    font: inherit;
}

:is(h1, h2, h3, h4, h5, h6) {
    line-height: 1.1;
    margin-bottom: 0.4em;
    font-weight: 500;
}

h1 { font-size: 3.2em; }
h2 { font-size: 2.6em; }
h3 { font-size: 2.1em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p, ul, ol {
    padding-bottom: 1.3em;
}

li {
    list-style-position: inside;
}

ul, ol {
    padding-inline-start: 1.5em;
}

nav ul {
    padding: 0;
}

a {
    text-decoration: none;
}

blockquote {
    padding-inline-start: 2em;
    border-inline-start: 2px solid #ccc;
    margin-block: 1em 2em;
    font-style: italic;
    opacity: 0.9;
    font-size: 1.1em;
    margin-inline: 2em calc(1em + 6vw);

    p:last-of-type {
        padding-block-end: 0;
    }
}