---
const currentDate = new Date;
const currentYear = currentDate.getFullYear();
---
<footer class="site-footer">

    <!-- TODO: Add footer Navigation options -->

    <p>All rights reserved @ 2001 - { currentYear }</p>
</footer>

<style>
    .site-footer {
        padding-block-end: 2em;

        p {
            padding: 0;
        }
    }
</style>