---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Typography">

    <h1>Typography</h1>
    <h2>Typography</h2>
    <h3>Typography</h3>
    <h4>Typography</h4>
    <h5>Typography</h5>
    <h6>Typography</h6>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>

    <ul>
        <li>Stuff</li>
        <li>Goes</li>
        <li>Here</li>
    </ul>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>

    <ol>
        <li>Stuff</li>
        <li>Goes</li>
        <li>Here</li>
    </ol>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>

    <blockquote>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nulla repellat consequuntur sapiente tempora facilis aliquam quo itaque, nesciunt asperiores earum nemo quis dolor soluta beatae ipsum velit sint iusto!</p>
    </blockquote>

</Layout>