---
import { site } from '../utils/constants';
import Header from '../components/site/Header.astro';
import Footer from '../components/site/Footer.astro';

const { title } = Astro.props;

const titleTag = title ?? site.title;

const bodyClasses = ['page'];

import styles from '../assets/styles/site.css';
import favicon from '../assets/images/favicon.svg';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
        <link rel="icon" type="image/svg+xml" href={ favicon.src } />
        <link rel="stylesheet" href={styles} >

        <!-- TODO: Add slot head stuff -->
        <!-- TODO: Socials integration -->
        <!-- TODO: Google Analytics stuff -->

		<title>{ titleTag }</title>
	</head>
	<body class:list={ bodyClasses }>

        <div class="site">

            <Header siteTitle="Lazy" />

            <main class="site-content">

                <slot />

            </main>

            <Footer />

        </div>

	</body>
</html>

<style>

    body {
        padding-inline: 2em;
    }

</style>